# Yet Another COVID-19 Dashbord (data wrangling)

Yet another COVID-19 dashboard built by yet another data science enthousiast.   
I made this so I can look at the data the way I like.  
Please feel free to fork, modify and distribute.

### Imports

In [1]:
import pandas as pd
import numpy as np

### Get the data

In [2]:
confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
dead_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovered_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

In [3]:
def get_and_set_data(url, val_name):
    return pd.read_csv(
        url, 
        error_bad_lines=False
    ).rename(
        columns={
            "Province/State": "province_state",
            "Country/Region": "country_region",
            "Lat": "lat",
            "Long": "long",
        }
    ).melt(
        id_vars=["province_state", "country_region", "lat", "long"],
        var_name='date', 
        value_name=val_name,
    )

In [4]:
df_confirmed = get_and_set_data(url=confirmed_url,val_name="confirmed")
df_confirmed.head()

  province_state country_region      lat     long     date  confirmed
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [5]:
df_confirmed.describe()

                lat          long      confirmed
count  19650.000000  19650.000000   19650.000000
mean      21.419981     22.127121     820.130992
std       24.745599     70.781285    7728.161762
min      -51.796300   -135.000000       0.000000
25%        7.000000    -23.041800       0.000000
50%       23.659750     20.535638       0.000000
75%       41.204400     81.000000      55.000000
max       71.706900    178.065000  337072.000000

In [6]:
df_confirmed.confirmed.isna().sum()

0

In [7]:
df_dead = get_and_set_data(url=dead_url,val_name="dead")
df_dead.head()

  province_state country_region      lat     long     date  dead
0            NaN    Afghanistan  33.0000  65.0000  1/22/20     0
1            NaN        Albania  41.1533  20.1683  1/22/20     0
2            NaN        Algeria  28.0339   1.6596  1/22/20     0
3            NaN        Andorra  42.5063   1.5218  1/22/20     0
4            NaN         Angola -11.2027  17.8739  1/22/20     0

In [8]:
df_dead.describe()

                lat          long          dead
count  19650.000000  19650.000000  19650.000000
mean      21.419981     22.127121     36.974860
std       24.745599     70.781285    456.942381
min      -51.796300   -135.000000      0.000000
25%        7.000000    -23.041800      0.000000
50%       23.659750     20.535638      0.000000
75%       41.204400     81.000000      0.000000
max       71.706900    178.065000  15887.000000

In [9]:
df_dead.dead.isna().sum()

0

In [10]:
df_recovered = get_and_set_data(url=recovered_url,val_name="recovered")
df_recovered.head()

  province_state country_region      lat     long     date  recovered
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [11]:
df_recovered.describe()

                lat          long     recovered
count  18600.000000  18600.000000  18600.000000
mean      20.146793     27.937854    227.049839
std       24.409922     67.543577   2648.002768
min      -51.796300   -106.346800      0.000000
25%        6.810525     -8.525750      0.000000
50%       21.958100     22.380900      0.000000
75%       39.437175     88.569300      2.250000
max       71.706900    178.065000  63945.000000

In [12]:
df_recovered.recovered.isna().sum()

0

In [13]:
df_recovered.tail()

,province_state,country_region,lat,long,date,recovered
18595,NaN,Malawi,-13.254308,34.301525,4/5/20,0
18596,Falkland Islands (Islas Malvinas),United Kingdom,-51.796300,-59.523600,4/5/20,0
18597,Saint Pierre and Miquelon,France,46.885200,-56.315900,4/5/20,0
18598,NaN,South Sudan,6.877000,31.307000,4/5/20,0
18599,NaN,Western Sahara,24.215500,-12.885800,4/5/20,0

In [14]:
df_recovered[df_recovered.date == '2020-03-20']

Empty DataFrame
Columns: [province_state, country_region, lat, long, date, recovered]
Index: []

In [15]:
df_merged = df_confirmed.join(
    df_dead["dead"]
).join(
    df_recovered["recovered"]
).sort_values(
    ['country_region', 'date']
).reset_index(

).drop(
    columns=['index']
)
df_merged.head()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,1/22/20,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,1/23/20,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,1/24/20,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,1/25/20,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,1/26/20,0,0,1.0

In [16]:
df_merged.describe()

                lat          long      confirmed          dead     recovered
count  19650.000000  19650.000000   19650.000000  19650.000000  18600.000000
mean      21.419981     22.127121     820.130992     36.974860    227.049839
std       24.745599     70.781285    7728.161762    456.942381   2648.002768
min      -51.796300   -135.000000       0.000000      0.000000      0.000000
25%        7.000000    -23.041800       0.000000      0.000000      0.000000
50%       23.659750     20.535638       0.000000      0.000000      0.000000
75%       41.204400     81.000000      55.000000      0.000000      2.250000
max       71.706900    178.065000  337072.000000  15887.000000  63945.000000

In [17]:
df_merged.isna().sum()

province_state    13500
country_region        0
lat                   0
long                  0
date                  0
confirmed             0
dead                  0
recovered          1050
dtype: int64

In [18]:
df_merged.dtypes

province_state     object
country_region     object
lat               float64
long              float64
date               object
confirmed           int64
dead                int64
recovered         float64
dtype: object

In [19]:
df_merged.date = pd.to_datetime(df_merged.date)

In [20]:
df_merged.dtypes

province_state            object
country_region            object
lat                      float64
long                     float64
date              datetime64[ns]
confirmed                  int64
dead                       int64
recovered                float64
dtype: object

In [21]:
df_merged.head(10)

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,1.0
5,NaN,Afghanistan,33.0,65.0,2020-01-27,0,0,0.0
6,NaN,Afghanistan,33.0,65.0,2020-01-28,0,0,0.0
7,NaN,Afghanistan,33.0,65.0,2020-01-29,0,0,0.0
8,NaN,Afghanistan,33.0,65.0,2020-01-30,0,0,0.0
9,NaN,Afghanistan,33.0,65.0,2020-01-31,0,0,0.0

Since there is no world entries we create them

In [22]:
len(df_merged.country_region.unique())

183

In [23]:
df_world = df_merged.drop(
    columns=['province_state', 'country_region', 'lat', 'long']
).set_index(
    'date'
).resample(
    'd'
).sum(
    min_count=180
).reset_index(

).assign(
    country_region='World',
    lat=np.nan,
    long=np.nan    
)
df_world

         date  confirmed   dead  recovered country_region  lat  long
0  2020-01-22        555     17       28.0          World  NaN   NaN
1  2020-01-23        654     18       30.0          World  NaN   NaN
2  2020-01-24        941     26       38.0          World  NaN   NaN
3  2020-01-25       1434     42       83.0          World  NaN   NaN
4  2020-01-26       2118     56       63.0          World  NaN   NaN
..        ...        ...    ...        ...            ...  ...   ...
70 2020-04-01     932605  46809   260012.0          World  NaN   NaN
71 2020-04-02    1013157  52983        NaN          World  NaN   NaN
72 2020-04-03    1095917  58787        NaN          World  NaN   NaN
73 2020-04-04    1197405  64606        NaN          World  NaN   NaN
74 2020-04-05    1272115  69374        NaN          World  NaN   NaN

[75 rows x 7 columns]

In [24]:
df_world.dtypes

date              datetime64[ns]
confirmed                  int64
dead                       int64
recovered                float64
country_region            object
lat                      float64
long                     float64
dtype: object

In [25]:
df = pd.concat((df_merged, df_world)).sort_values(['country_region', 'date'])

# df.recovered = df.recovered.fillna(-1)
# df.recovered = pd.to_numeric(df.recovered, downcast="integer")
# df.recovered = df.recovered.replace(-1, np.nan)

df.head()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,1.0

In [26]:
df.tail()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
19645,NaN,Zimbabwe,-20.0,30.0,2020-04-01,8,1,1.0
19646,NaN,Zimbabwe,-20.0,30.0,2020-04-02,9,1,NaN
19647,NaN,Zimbabwe,-20.0,30.0,2020-04-03,9,1,NaN
19648,NaN,Zimbabwe,-20.0,30.0,2020-04-04,9,1,NaN
19649,NaN,Zimbabwe,-20.0,30.0,2020-04-05,9,1,NaN

In [27]:
df.describe()

                lat          long     confirmed          dead      recovered
count  19650.000000  19650.000000  1.972500e+04  19725.000000   18671.000000
mean      21.419981     22.127121  1.634025e+03     73.668542     452.372878
std       24.745599     70.781285  2.418245e+04   1239.201203    6115.746221
min      -51.796300   -135.000000  0.000000e+00      0.000000       0.000000
25%        7.000000    -23.041800  0.000000e+00      0.000000       0.000000
50%       23.659750     20.535638  0.000000e+00      0.000000       0.000000
75%       41.204400     81.000000  5.800000e+01      0.000000       3.000000
max       71.706900    178.065000  1.272115e+06  69374.000000  260012.000000

In [28]:
import plotly.express as px

In [29]:
fig = px.scatter(
    data_frame=df[df.country_region.isin(["World", "Portugal", "Italy", "Spain", "France"])],
    x="date",
    y="confirmed",
    facet_row="country_region",
)
fig.layout.yaxis2.update(matches=None)
fig

In [30]:
df.date.dt.date.min()

datetime.date(2020, 1, 22)

In [31]:
from datetime import datetime as dt
from datetime import timedelta

dt.utcfromtimestamp(0).date() + timedelta(days=18283)

datetime.date(2020, 1, 22)

In [32]:
df[df.date == dt.strftime(
    dt.utcfromtimestamp(0).date() + timedelta(days=18283),
    "%Y-%m-%d"
    )
]

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0.0
75,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0.0
150,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0.0
225,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0.0
300,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0.0
...,...,...,...,...,...,...,...,...
19350,NaN,West Bank and Gaza,31.9522,35.2332,2020-01-22,0,0,0.0
19425,NaN,Western Sahara,24.2155,-12.8858,2020-01-22,0,0,0.0
0,NaN,World,NaN,NaN,2020-01-22,555,17,28.0
19500,NaN,Zambia,-15.4167,28.2833,2020-01-22,0,0,0.0
19575,NaN,Zimbabwe,-20.0000,30.0000,2020-01-22,0,0,0.0

In [33]:
df.date.unique()

array(['2020-01-22T00:00:00.000000000', '2020-01-23T00:00:00.000000000',
       '2020-01-24T00:00:00.000000000', '2020-01-25T00:00:00.000000000',
       '2020-01-26T00:00:00.000000000', '2020-01-27T00:00:00.000000000',
       '2020-01-28T00:00:00.000000000', '2020-01-29T00:00:00.000000000',
       '2020-01-30T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2020-02-02T00:00:00.000000000',
       '2020-02-03T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2020-02-05T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-02-08T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-02-10T00:00:00.000000000',
       '2020-02-11T00:00:00.000000000', '2020-02-12T00:00:00.000000000',
       '2020-02-13T00:00:00.000000000', '2020-02-14T00:00:00.000000000',
       '2020-02-15T00:00:00.000000000', '2020-02-16T00:00:00.000000000',
       '2020-02-17T00:00:00.000000000', '2020-02-18T00:00:00.000000000',
       '2020-02-19T00:00:00.000000000', '2020-02-20T00:00:00.000000000',
       '2020-02-21T00:00:00.000000000', '2020-02-22T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-02-28T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-03-11T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-14T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2020-03-20T00:00:00.000000000', '2020-03-21T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2020-04-02T00:00:00.000000000',
       '2020-04-03T00:00:00.000000000', '2020-04-04T00:00:00.000000000',
       '2020-04-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [34]:
df[df.date == "2020-01-22"]

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0.0
75,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0.0
150,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0.0
225,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0.0
300,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0.0
...,...,...,...,...,...,...,...,...
19350,NaN,West Bank and Gaza,31.9522,35.2332,2020-01-22,0,0,0.0
19425,NaN,Western Sahara,24.2155,-12.8858,2020-01-22,0,0,0.0
0,NaN,World,NaN,NaN,2020-01-22,555,17,28.0
19500,NaN,Zambia,-15.4167,28.2833,2020-01-22,0,0,0.0
19575,NaN,Zimbabwe,-20.0000,30.0000,2020-01-22,0,0,0.0

## Add new columns

In [35]:
df_no_region = (
    df
    .drop(columns=['province_state'])
    .groupby(['country_region', 'date']).sum()
    .reset_index()
)
df_no_region.head()

  country_region       date   lat  long  confirmed  dead  recovered
0    Afghanistan 2020-01-22  33.0  65.0          0     0        0.0
1    Afghanistan 2020-01-23  33.0  65.0          0     0        0.0
2    Afghanistan 2020-01-24  33.0  65.0          0     0        0.0
3    Afghanistan 2020-01-25  33.0  65.0          0     0        0.0
4    Afghanistan 2020-01-26  33.0  65.0          0     0        1.0

In [36]:
df_new_column = (
    df_no_region    
    .assign(confirmed_total=df_no_region.confirmed)
    .assign(recovered_total=df_no_region.recovered)
    .assign(dead_total=df_no_region.dead)
    .assign(country=df_no_region.country_region)
    .assign(
        confirmed_dayli=df_no_region.confirmed.subtract(
            df_no_region.confirmed.shift(1), fill_value=0
        ).clip(0)
    )
    .assign(
        recovered_dayli=df_no_region.recovered.subtract(
            df_no_region.recovered.shift(1), fill_value=0
        ).clip(0)
    )
    .assign(
        dead_dayli=df_no_region.dead.subtract(
            df_no_region.dead.shift(1), fill_value=0
        ).clip(0)
    )
    .drop(columns=["confirmed", "recovered", "dead", "country_region"])
)
df_new_column[df_new_column.country == 'France'].describe()

,lat,long,confirmed_total,recovered_total,dead_total,confirmed_dayli,recovered_dayli,dead_dayli
count,75.0000,7.500000e+01,75.000000,75.000000,75.000000,75.000000,75.000000,75.000000
mean,91.3624,5.971920e+01,10377.506667,2353.320000,706.360000,1250.306667,2040.866667,107.906667
std,0.0000,1.430655e-14,21009.886046,10287.273225,1720.371759,3283.065484,9744.984595,258.105477
min,91.3624,5.971920e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,91.3624,5.971920e+01,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.3624,5.971920e+01,57.000000,34.000000,2.000000,13.000000,0.000000,0.000000
75%,91.3624,5.971920e+01,8419.500000,332.500000,149.000000,1557.000000,34.500000,44.500000
max,91.3624,5.971920e+01,93773.000000,66444.000000,8093.000000,25646.000000,61849.000000,1355.000000

In [37]:
df = df_new_column[[
    "country", "date", 
    "lat", "long", 
    "confirmed_total", "confirmed_dayli", 
    "recovered_total", "recovered_dayli", 
    "dead_total", "dead_dayli"
    ]
]
df.describe()

,lat,long,confirmed_total,confirmed_dayli,recovered_total,recovered_dayli,dead_total,dead_dayli
count,13800.000000,13800.000000,1.380000e+04,13800.000000,13800.000000,13800.000000,13800.000000,13800.000000
mean,30.500190,31.507097,2.335590e+03,184.325072,612.047391,290.464058,105.297971,10.054348
std,99.173247,305.038931,2.902108e+04,2446.351885,7166.265032,3133.368654,1481.294032,144.580332
min,-255.969500,-1237.628900,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.114075,-9.496275,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,18.853450,19.401650,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
75%,41.247675,44.250000,2.100000e+01,2.000000,3.000000,0.000000,0.000000,0.000000
max,1083.336700,3684.419700,1.272115e+06,101488.000000,260012.000000,69864.000000,69374.000000,6174.000000

In [39]:
df.date.max().date()

datetime.date(2020, 4, 5)