# Yet Another COVID-19 Dashbord (data wrangling)

Yet another COVID-19 dashboard built by yet another data science enthousiast.   
I made this so I can look at the data the way I like.  
Please feel free to fork, modify and distribute.

### Imports

In [108]:
import pandas as pd
import numpy as np

### Get the data

In [109]:
confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
dead_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovered_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

In [110]:
def get_and_set_data(url, val_name):
    return pd.read_csv(
        url, 
        error_bad_lines=False
    ).rename(
        columns={
            "Province/State": "province_state",
            "Country/Region": "country_region",
            "Lat": "lat",
            "Long": "long",
        }
    ).melt(
        id_vars=["province_state", "country_region", "lat", "long"],
        var_name='date', 
        value_name=val_name,
    )

In [111]:
df_confirmed = get_and_set_data(url=confirmed_url,val_name="confirmed")
df_confirmed.head()

  province_state country_region      lat     long     date  confirmed
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [112]:
df_confirmed.describe()

                lat          long      confirmed
count  18576.000000  18576.000000   18576.000000
mean      21.650595     22.847768     675.610304
std       24.446770     70.939330    6202.699140
min      -41.454500   -135.000000       0.000000
25%        7.540000    -19.020800       0.000000
50%       23.659750     20.921188       0.000000
75%       41.204400     84.250000      42.000000
max       71.706900    178.065000  243453.000000

In [113]:
df_confirmed.confirmed.isna().sum()

0

In [114]:
df_dead = get_and_set_data(url=dead_url,val_name="dead")
df_dead.head()

  province_state country_region      lat     long     date  dead
0            NaN    Afghanistan  33.0000  65.0000  1/22/20     0
1            NaN        Albania  41.1533  20.1683  1/22/20     0
2            NaN        Algeria  28.0339   1.6596  1/22/20     0
3            NaN        Andorra  42.5063   1.5218  1/22/20     0
4            NaN         Angola -11.2027  17.8739  1/22/20     0

In [115]:
df_dead.describe()

                lat          long          dead
count  18576.000000  18576.000000  18576.000000
mean      21.650595     22.847768     28.735411
std       24.446770     70.939330    363.769841
min      -41.454500   -135.000000      0.000000
25%        7.540000    -19.020800      0.000000
50%       23.659750     20.921188      0.000000
75%       41.204400     84.250000      0.000000
max       71.706900    178.065000  13915.000000

In [116]:
df_dead.dead.isna().sum()

0

In [117]:
df_recovered = get_and_set_data(url=recovered_url,val_name="recovered")
df_recovered.head()

  province_state country_region      lat     long     date  recovered
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [118]:
df_recovered.describe()

                lat          long     recovered
count  17568.000000  17568.000000  17568.000000
mean      20.369767     28.795107    198.723076
std       24.096287     67.593488   2487.891933
min      -41.454500   -106.346800      0.000000
25%        6.902775     -7.242475      0.000000
50%       21.958100     23.409400      0.000000
75%       39.437175     90.089075      2.000000
max       71.706900    178.065000  63471.000000

In [119]:
df_recovered.recovered.isna().sum()

0

In [120]:
df_recovered.tail()

,province_state,country_region,lat,long,date,recovered
17563,NaN,Botswana,-22.328500,24.684900,4/2/20,0
17564,NaN,Burundi,-3.373100,29.918900,4/2/20,0
17565,NaN,Sierra Leone,8.460555,-11.779889,4/2/20,0
17566,"Bonaire, Sint Eustatius and Saba",Netherlands,12.178400,-68.238500,4/2/20,0
17567,NaN,Malawi,-13.254308,34.301525,4/2/20,0

In [121]:
df_recovered[df_recovered.date == '2020-03-20']

Empty DataFrame
Columns: [province_state, country_region, lat, long, date, recovered]
Index: []

In [122]:
df_merged = df_confirmed.join(
    df_dead["dead"]
).join(
    df_recovered["recovered"]
).sort_values(
    ['country_region', 'date']
).reset_index(

).drop(
    columns=['index']
)
df_merged.head()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,1/22/20,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,1/23/20,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,1/24/20,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,1/25/20,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,1/26/20,0,0,1.0

In [123]:
df_merged.describe()

                lat          long      confirmed          dead     recovered
count  18576.000000  18576.000000   18576.000000  18576.000000  17568.000000
mean      21.650595     22.847768     675.610304     28.735411    198.723076
std       24.446770     70.939330    6202.699140    363.769841   2487.891933
min      -41.454500   -135.000000       0.000000      0.000000      0.000000
25%        7.540000    -19.020800       0.000000      0.000000      0.000000
50%       23.659750     20.921188       0.000000      0.000000      0.000000
75%       41.204400     84.250000      42.000000      0.000000      2.000000
max       71.706900    178.065000  243453.000000  13915.000000  63471.000000

In [124]:
df_merged.isna().sum()

province_state    12816
country_region        0
lat                   0
long                  0
date                  0
confirmed             0
dead                  0
recovered          1008
dtype: int64

In [125]:
df_merged.dtypes

province_state     object
country_region     object
lat               float64
long              float64
date               object
confirmed           int64
dead                int64
recovered         float64
dtype: object

In [126]:
df_merged.date = pd.to_datetime(df_merged.date)

In [127]:
df_merged.dtypes

province_state            object
country_region            object
lat                      float64
long                     float64
date              datetime64[ns]
confirmed                  int64
dead                       int64
recovered                float64
dtype: object

In [128]:
df_merged.head(10)

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,1.0
5,NaN,Afghanistan,33.0,65.0,2020-01-27,0,0,0.0
6,NaN,Afghanistan,33.0,65.0,2020-01-28,0,0,0.0
7,NaN,Afghanistan,33.0,65.0,2020-01-29,0,0,0.0
8,NaN,Afghanistan,33.0,65.0,2020-01-30,0,0,0.0
9,NaN,Afghanistan,33.0,65.0,2020-01-31,0,0,0.0

Since there is no world entries we create them

In [129]:
len(df_merged.country_region.unique())

181

In [130]:
df_world = df_merged.drop(
    columns=['province_state', 'country_region', 'lat', 'long']
).set_index(
    'date'
).resample(
    'd'
).sum(
    min_count=180
).reset_index(

).assign(
    country_region='World',
    lat=np.nan,
    long=np.nan    
)
df_world

         date  confirmed   dead  recovered country_region  lat  long
0  2020-01-22        555     17       28.0          World  NaN   NaN
1  2020-01-23        654     18       30.0          World  NaN   NaN
2  2020-01-24        941     26       38.0          World  NaN   NaN
3  2020-01-25       1434     42       83.0          World  NaN   NaN
4  2020-01-26       2118     56       63.0          World  NaN   NaN
..        ...        ...    ...        ...            ...  ...   ...
67 2020-03-29     720117  33925   210654.0          World  NaN   NaN
68 2020-03-30     782365  37582        NaN          World  NaN   NaN
69 2020-03-31     857487  42107        NaN          World  NaN   NaN
70 2020-04-01     932605  46809        NaN          World  NaN   NaN
71 2020-04-02    1013157  52983        NaN          World  NaN   NaN

[72 rows x 7 columns]

In [131]:
df_world.dtypes

date              datetime64[ns]
confirmed                  int64
dead                       int64
recovered                float64
country_region            object
lat                      float64
long                     float64
dtype: object

In [132]:
df = pd.concat((df_merged, df_world)).sort_values(['country_region', 'date'])

# df.recovered = df.recovered.fillna(-1)
# df.recovered = pd.to_numeric(df.recovered, downcast="integer")
# df.recovered = df.recovered.replace(-1, np.nan)

df.head()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,1.0

In [133]:
df.tail()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
18564,NaN,Zimbabwe,-20.0,30.0,2020-03-29,7,1,0.0
18566,NaN,Zimbabwe,-20.0,30.0,2020-03-30,7,1,NaN
18567,NaN,Zimbabwe,-20.0,30.0,2020-03-31,8,1,NaN
18574,NaN,Zimbabwe,-20.0,30.0,2020-04-01,8,1,NaN
18575,NaN,Zimbabwe,-20.0,30.0,2020-04-02,9,1,NaN

In [134]:
df.describe()

                lat          long     confirmed          dead      recovered
count  18576.000000  18576.000000  1.864800e+04  18648.000000   17636.000000
mean      21.650595     22.847768  1.346004e+03     57.248927     395.379848
std       24.446770     70.939330  1.914764e+04    933.106973    5275.233490
min      -41.454500   -135.000000  0.000000e+00      0.000000       0.000000
25%        7.540000    -19.020800  0.000000e+00      0.000000       0.000000
50%       23.659750     20.921188  0.000000e+00      0.000000       0.000000
75%       41.204400     84.250000  4.400000e+01      0.000000       2.000000
max       71.706900    178.065000  1.013157e+06  52983.000000  212854.000000

In [135]:
import plotly.express as px

In [136]:
fig = px.scatter(
    data_frame=df[df.country_region.isin(["World", "Portugal", "Italy", "Spain", "France"])],
    x="date",
    y="confirmed",
    facet_row="country_region",
)
fig.layout.yaxis2.update(matches=None)
fig

In [137]:
df.date.dt.date.min()

datetime.date(2020, 1, 22)

In [138]:
from datetime import datetime as dt
from datetime import timedelta

dt.utcfromtimestamp(0).date() + timedelta(days=18283)

datetime.date(2020, 1, 22)

In [139]:
df[df.date == dt.strftime(
    dt.utcfromtimestamp(0).date() + timedelta(days=18283),
    "%Y-%m-%d"
    )
]

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0.0
72,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0.0
144,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0.0
216,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0.0
288,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0.0
...,...,...,...,...,...,...,...,...
18288,NaN,Vietnam,16.0000,108.0000,2020-01-22,0,0,0.0
18360,NaN,West Bank and Gaza,31.9522,35.2332,2020-01-22,0,0,0.0
0,NaN,World,NaN,NaN,2020-01-22,555,17,28.0
18432,NaN,Zambia,-15.4167,28.2833,2020-01-22,0,0,0.0
18504,NaN,Zimbabwe,-20.0000,30.0000,2020-01-22,0,0,0.0

In [140]:
df.date.unique()

array(['2020-01-22T00:00:00.000000000', '2020-01-23T00:00:00.000000000',
       '2020-01-24T00:00:00.000000000', '2020-01-25T00:00:00.000000000',
       '2020-01-26T00:00:00.000000000', '2020-01-27T00:00:00.000000000',
       '2020-01-28T00:00:00.000000000', '2020-01-29T00:00:00.000000000',
       '2020-01-30T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2020-02-02T00:00:00.000000000',
       '2020-02-03T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2020-02-05T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-02-08T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-02-10T00:00:00.000000000',
       '2020-02-11T00:00:00.000000000', '2020-02-12T00:00:00.000000000',
       '2020-02-13T00:00:00.000000000', '2020-02-14T00:00:00.000000000',
       '2020-02-15T00:00:00.000000000', '2020-02-16T00:00:00.000000000',
       '2020-02-17T00:00:00.000000000', '2020-02-18T00:00:00.000000000',
       '2020-02-19T00:00:00.000000000', '2020-02-20T00:00:00.000000000',
       '2020-02-21T00:00:00.000000000', '2020-02-22T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-02-28T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-03-11T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-14T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2020-03-20T00:00:00.000000000', '2020-03-21T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000', '2020-04-02T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [141]:
df[df.date == "2020-01-22"]

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0.0
72,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0.0
144,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0.0
216,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0.0
288,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0.0
...,...,...,...,...,...,...,...,...
18288,NaN,Vietnam,16.0000,108.0000,2020-01-22,0,0,0.0
18360,NaN,West Bank and Gaza,31.9522,35.2332,2020-01-22,0,0,0.0
0,NaN,World,NaN,NaN,2020-01-22,555,17,28.0
18432,NaN,Zambia,-15.4167,28.2833,2020-01-22,0,0,0.0
18504,NaN,Zimbabwe,-20.0000,30.0000,2020-01-22,0,0,0.0

## Add new columns

In [142]:
df_no_region = (
    df
    .drop(columns=['province_state'])
    .groupby(['country_region', 'date']).sum()
    .reset_index()
)
df_no_region.head()

  country_region       date   lat  long  confirmed  dead  recovered
0    Afghanistan 2020-01-22  33.0  65.0          0     0        0.0
1    Afghanistan 2020-01-23  33.0  65.0          0     0        0.0
2    Afghanistan 2020-01-24  33.0  65.0          0     0        0.0
3    Afghanistan 2020-01-25  33.0  65.0          0     0        0.0
4    Afghanistan 2020-01-26  33.0  65.0          0     0        1.0

In [155]:
df_new_column = (
    df_no_region    
    .assign(confirmed_total=df_no_region.confirmed)
    .assign(recovered_total=df_no_region.recovered)
    .assign(dead_total=df_no_region.dead)
    .assign(country=df_no_region.country_region)
    .assign(
        confirmed_dayli=df_no_region.confirmed.subtract(
            df_no_region.confirmed.shift(1), fill_value=0
        ).clip(0)
    )
    .assign(
        recovered_dayli=df_no_region.recovered.subtract(
            df_no_region.recovered.shift(1), fill_value=0
        ).clip(0)
    )
    .assign(
        dead_dayli=df_no_region.dead.subtract(
            df_no_region.dead.shift(1), fill_value=0
        ).clip(0)
    )
    .drop(columns=["confirmed", "recovered", "dead", "country_region"])
)
df_new_column[df_new_column.country == 'France'].describe()

,lat,long,confirmed_total,recovered_total,dead_total,confirmed_dayli,recovered_dayli,dead_dayli
count,7.200000e+01,72.0000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000
mean,4.447720e+01,116.0351,7340.138889,1416.083333,427.638889,832.347222,1199.958333,74.972222
std,7.155291e-15,0.0000,14806.001815,6911.363838,1047.448628,1551.447322,6621.380166,197.134113
min,4.447720e+01,116.0351,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.447720e+01,116.0351,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.447720e+01,116.0351,28.000000,14.000000,2.000000,4.500000,0.000000,0.000000
75%,4.447720e+01,116.0351,5069.750000,170.000000,105.500000,1121.000000,17.250000,14.250000
max,4.447720e+01,116.0351,59929.000000,55641.000000,5398.000000,7657.000000,53750.000000,1355.000000

In [157]:
df = df_new_column[[
    "country", "date", 
    "lat", "long", 
    "confirmed_total", "confirmed_dayli", 
    "recovered_total", "recovered_dayli", 
    "dead_total", "dead_dayli"
    ]
]
df.describe()

,lat,long,confirmed_total,confirmed_dayli,recovered_total,recovered_dayli,dead_total,dead_dayli
count,13104.000000,13104.000000,1.310400e+04,13104.000000,13104.000000,13104.000000,13104.000000,13104.000000
mean,30.691503,32.388594,1.915467e+03,154.579747,532.121413,251.546169,81.469628,8.086386
std,100.359062,306.231705,2.298866e+04,2066.444800,6160.300088,2902.415543,1113.360587,119.375637
min,-255.969500,-1237.628900,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,-9.429500,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,18.853450,19.401650,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
75%,41.377500,45.000000,1.500000e+01,1.000000,2.000000,0.000000,0.000000,0.000000
max,1083.336700,3684.419700,1.013157e+06,80552.000000,212854.000000,63237.000000,52983.000000,6174.000000